/*Base Resets*/
* {
    margin: 0;
    padding: 0;
}

/**/
body {
    font-family: monospace;
}

/*Styling for Sidebar nav*/
.w3-sidebar {
    width: 120px;
    background: #222;
}

.w3-sidebar img {
    margin-top: 5px;
}

.w3-bar-item > i {
    padding: 10px;
}

.w3-bar-item > p {
    padding-bottom: 10px;
}

/*Styling for main page container*/
#main {
    margin-left: 120px;
}

#main > header > img {
    margin-top: 10px;
}
@media (max-width: 690px){
    #main {
        margin-left: 0;
    }
}

/*Styling for skills sub-section in About section*/
.w3-content > .w3-wide {
    margin: 10px 0;
}

/*Styling for Reputation/Testimonials sub-section in About section*/
.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials > .testimony {
    display: flex;
}

.testimony > .text {
    align-self: center;
}

/*Styling for Portfolio section*/
.w3-half > img {
    margin-top: 10px;
}

/*Styling for Contact section*/
#contact .w3-section {
    padding-bottom: 25px;
}

.w3-section p {
    padding: 10px 0;
}

#contact form {
    padding-top: 15px;
}

#contact form p {
    padding-bottom: 15px;
}