/*Base Resets*/
* {
    margin: 0;
    padding: 0;
}

/**/
body {
    font-family: monospace;
}

/*Styling for Sidebar nav*/
.w3-sidebar {
    width: 120px;
    background: #222;
}

#main {
    margin-left: 120px;
}

@media (max-width: 690px){
    #main {
        margin-left: 0;
    }
}