@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lilita+One&family=Sarabun&family=ZCOOL+XiaoWei&display=swap');

/*Base Resets*/
* {
    margin: 0;
    padding: 0;
}

/*General styling*/
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#about p, .testimonials p, #contact p{
    font-family: 'Sarabun', sans-serif;
}

#about h2, h3, .testimonials h2, h3, #contact h2, h3, #photos h2, h3{
    font-family: 'Amaranth', sans-serif;
}

/*Styling for Sidebar nav*/
.w3-sidebar {
    width: 120px;
    background: #222;
}

.w3-sidebar img {
    margin-top: 5px;
}

.w3-bar-item > i {
    padding: 10px;
}

.w3-bar-item > p {
    padding-bottom: 10px;
}

/*Styling for main page container*/
#main {
    margin-left: 120px;
}

#main > header > img {
    margin-top: 10px;
}

#main > header > h1 {
    font-family: 'Lilita One', cursive;
}

#main > header > p{
    font-family: 'Amaranth', sans-serif;
}

@media (max-width: 690px){
    #main {
        margin-left: 0;
    }
}

/*Styling for About section*/
.w3-content > .w3-wide {
    margin: 10px 0;
}

/*Styling for Reputation/Testimonials sub-section in About section*/
.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials > .testimony {
    display: flex;
}

.testimony > .text {
    align-self: center;
}

/*Styling for Portfolio section*/
.w3-half > img {
    margin-top: 10px;
}

/*Styling for Contact section*/
#contact .w3-section {
    padding-bottom: 25px;
}

.w3-section p {
    padding: 10px 0;
}

#contact form {
    padding-top: 15px;
}

#contact form p {
    padding-bottom: 15px;
}

/*Styling for footer*/

#love {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

#love > span {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 400;
    font-size: 12px;
    color: white
}

#love > img {
    width: 20px;
    padding: 10px;
}

#love > span > a {
    text-decoration: none;
    color: yellow;
}